<!DOCTYPE html>
<html>
<head>
    <title>Enter data</title>
</head>
<body>
    <h1 align="center"><i>Enter your name and email</i></h1>
    <form action="/welcome" method="POST">
        <label for="name">Your name:</label><br><br>
        <input type="text" id="name" name="name" placeholder="name" required><br><br>
        <label for="email">Your email:</label><br><br>
        <input type="email" id="email" name="email" placeholder="email" required><br><br>
        <input type="submit" value="Send"><br><br>
    </form>
</body>
</html>