<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h1>Welcome to "ClothesHORSE" internet-shop</h1></title>
</head>
<body>
    <header>
        <h2> All you need is HERE </h2>
    </header>
    <nav>
        <ul>
            <li><a href="/">Main page</a></li>
            <li><a href="/category/clothes">Clothes</a></li>
            <li><a href="/category/shoes">Shoes</a></li>
            <li><a href="/category/jackets">Jackets</a></li>
        </ul>
    </nav>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <p> &copy; ClothesHORSE </p>
    </footer>
</body>
</html>